.avatar {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-small {
  width: 24px;
  height: 24px;
  font-size: 0.7rem;
}

.avatar-medium {
  width: 32px;
  height: 32px;
  font-size: 0.8rem;
}

.avatar-large {
  width: 48px;
  height: 48px;
  font-size: 1rem;
}

