.avatar-group {
  display: flex;
  align-items: center;
}

.avatar-overlap {
  margin-left: -10px;
}

.avatar-group .avatar:first-child {
  margin-left: 0;
}

.avatar-count {
  background: #FFD166;
  color: black;
  font-weight: 600;
}

