.search-bar {
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}

.search-input {
  border: none;
  outline: none;
  margin-left: 0.5rem;
  width: 100%;
  color: #555;
  background: transparent;
}

.search-input::placeholder {
  color: #888;
}

